{% extends 'all-gram/base.html' %}

{% block content %}

<div class="container">
    <div class="form-group">
        <form action="{% url 'search_results' %}" method="post">{% csrf_token %}
            <div style="width: 100%" class="search-container">

        </form>
    </div>
    <br>
    {% if results %}
    {% for result in results %}
    {% endfor %}
    {% else %}
    <div class="alert alert-info" role="alert">
        No result, please try to search again!
    </div>
    {% endif %}
</div>

{% endblock %}